<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body class="body">
  <%- include ('./partials/header-logged', locals) %>

  <div class="container flex flex-col mt-14 h-screen gap-10">

    <!-- <h2 class="text-6xl"><%= user.name %>'s Portfolio</h2> -->
    <!-- <a href="/profile/<%= user.id %>" class="text-3xl">My Profile</a> -->

  <div class="flex justify-between items-center">
    <h1 class="">
      <span class="text-6xl">$<%= portfolioValue %> </span> 
      <span class="text-xl <%= +totalProfitLoss.replaceAll(',', '') > 0 ? "text-green-600" : "text-red-600" %>">$<%= totalProfitLoss %> </span>
    </h1>
    <div>
      <button id="addButton" class="btn-secondary"><i class="fa-solid fa-plus"></i> New Holding</button>
    </div>
  </div>

  <div id="statistics" class="border-2 border-gray-200 px-2 py-3 rounded-md flex justify-around text-2xl">
  <div class="flex flex-col">
    <h3 class="info-header">Portfolio Yield</h3>
    <span class="text-2xl"><%= portfolioYield %>%</span>
  </div>
  <div class="flex flex-col">
    <h3 class="info-header">Annual Income</h3>
    <span class="text-2xl">$<%= annualDividend %> </span>
  </div>
    
    <!-- <h3>Real time: $<span class="realTime"></span></h3> -->

  </div>
  
  

  <div  class="modal-container" id="modal-add">
    <div class="modal">
      <div class="flex justify-between items-center mb-5">
        <h3 class="text-2xl font-semibold">Add New Holding</h3>
        <span class="cursor-pointer transition-colors hover:text-gray-400 close">ⓧ</span>
      </div>
      <form action="/dashboard/addStock" id="form-add" method="POST" class="flex flex-col gap-2">
        <div id="error" class="text-red-600"></div>
        <label for="ticker">Ticker</label>
        <input type="text" name="ticker" id="ticker-add" placeholder="ex. AAPL" class="input mb-4" required>
        <label for="shares">Number of Shares</label>
        <input type="text" name="shares" id="shares-add" placeholder="Number of shares" class="input mb-4" required>
        <label for="basis">Average Cost</label>
        <input type="text" name="basis" id="basis-add" placeholder="Cost Basis" class="input mb-4" required>
        <button type="submit" id="addStock" class="btn btn-primary">Add</button>
      </form> 
    </div>
  </div>

  <div class="modal-container" id="modal-edit">
    <div class="modal">
      <div class="flex justify-between items-center mb-5">
        <h3 class="text-2xl font-semibold">Edit Holding</h3>
        <span class="cursor-pointer transition-colors hover:text-gray-400 close">ⓧ</span>
      </div>
      <form id="form-edit" method="POST" class="flex flex-col gap-2">
        <div id="error"></div>
        <label for="ticker">Ticker</label>
        <input type="text" name="ticker" id="ticker-edit" class="input mb-4" required>
        <label for="shares">Number of Shares</label>
        <input type="text" name="shares" id="shares-edit" class="input mb-4" required>
        <label for="basis">Average Cost</label>
        <input type="text" name="basis" id="basis-edit" class="input mb-4" required>
        <button type="submit" id="addStock" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>

  <table id="stockTable" class="border-collapse w-full bg-white rounded-lg overflow-x-auto overflow-y-hidden shadow-md">
    <thead>
      <tr class="bg-indigo-500 text-slate-100 text-left font-semibold">
        <th class="px-3 py-2">
          Ticker
        </th>
        <th class="px-3 py-2">
          Shares
        </th>
        <th class="px-3 py-2">
          Basis
        </th>
        <th class="px-3 py-2">
          Change
        </th>
        <th class="px-3 py-2">
          Current Price
        </th>
        <th class="px-3 py-2">
          Profit/Loss
        </th>
        <th class="px-3 py-2">
          Dividend
        </th>
        <th class="px-3 py-2">
          Edit / Delete
        </th>
      </tr>
    </thead>
    <tbody>

      <% for(let i = 0; i < stocks.length; i++) { %>
        <tr class="row">
          <td id="stockName" class="tracking-wide px-3 py-2">
            <div id="symbol">
              <a href="/stock/<%= stocks[i].ticker %>" class="underline hover:text-gray-400 transition-colors"><%= stocks[i].ticker %></a> 
            </div>
            <div id="corporation" class="sm-txt">
              <%= stocks[i].name %> 
            </div>
          </td>
          <td class="tracking-wide px-3 py-2">
            <span class="hidden"><%= stocks[i].shares %> </span>
            <%= stocks[i].shares.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> 
          </td>
          <td class="tracking-wide px-3 py-2">
            $<%= stocks[i].basis.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> 
          </td>
          <td class="tracking-wide px-3 py-2">
            <span >$<%= stocks[i].change %></span>
            <span class=<%= stocks[i].changesPercentage > 0 ? "text-green-600" : "text-red-600"%>>
              (<%= stocks[i].changesPercentage %>%)
            </span> 
          </td>
          <td class="tracking-wide px-3 py-2">
            $<%= stocks[i].currentPrice %> 
          </td>
          <td class="<%= +stocks[i].profitTotal.replaceAll(',', '') > 0 ? "text-green-600" : "text-red-600"%> tracking-wide"">
            $<%= stocks[i].profitTotal %> 
          </td>
          <td class="tracking-wide px-3 py-2">
            <%= stocks[i].dividendYield > 0 ? stocks[i].dividendYield + '%' : '-' %> 
          </td>
          <td class="tracking-wide px-3 py-2">
            
            <div class="flex justify-center gap-3">
             
              <!-- <a class="new-transaction">
                <i class="fa-solid fa-plus"></i>
              </a> -->

              <a id="edit-stock" data-id="<%= stocks[i].id %> ">
                <i class="fa-solid fa-pen-to-square cursor-pointer transition-colors hover:text-gray-400"></i>
              </a>

              <form action="/dashboard/deleteStock/<%= stocks[i].id %>?_method=DELETE" method="POST">
                <button type="submit" class="deleteButton"><i class="fa-solid fa-trash text-red-600 hover:text-red-400 transition-colors"></i></button>
              </form>

              
              
            </div>
          </td>
          <!-- Add value to total here --> 
        </tr>
      <% } %>
        
    </tbody>
  </table>
  
  <a href="/logout" class="">Logout</a>
    <script src="js/main.js"></script>

  </div>
  
  <%- include ('./partials/footer') %>
  </body>
</html>