<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= user.name %>'s Portfolio</h1>
    
  <h3>Add stock</h3>
  <div id="error"></div>
  <form action="/dashboard/addStock" method="POST">
    <label for="ticker">Ticker</label>
    <input type="text" name="ticker" id="ticker" placeholder="ex. APPL" required>
    <label for="shares">Number of Shares</label>
    <input type="text" name="shares" id="shares" placeholder="Number of shares" required>
    <label for="basis">Average Cost</label>
    <input type="text" name="basis" id="basis" placeholder="Cost Basis" required>
    <button type="submit" id="addStock">Add</button>
  </form>
  
  <ul>
    <% for(let i = 0; i < stocks.length; i++) { %>
      <li class="stock" data-id="<%= stocks[i]._id%>">
        <span>Ticker: <%= stocks[i].ticker %></span>
        <span>Shares: <%= stocks[i].shares%></span>
        <span>Basis: $<%= stocks[i].basis%></span>
        <button type="button" class="deleteButton">Delete</button>
      </li>
      <!-- Add value to total here -->
      <% } %>
    </ul>
    
    <h2>Portfolio Value: $<span class="totalValue">0</span></h2>
    <h2>Yearly Dividend Income: $<span class="yearlyDividend">0</span> a year</h2>
    <h2>Real time: $<span class="realTime"></span></h2>
    <script src="js/main.js"></script>
  </body>
</html>
<a href="/logout" class="btn btn-secondary">Logout</a>