<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashboard.css">
  <title>Document</title>
</head>
<body>

  <div class="dash-container">

    <h2><%= user.name %>'s Portfolio</h2>

  <div class="dash-header">

    <h1>$<span class="currentValue">0</span> <span class="netProfit"></span></h2>
    <button id="addButton" class="btn btn-secondary"><i class="fa-solid fa-plus"></i> New Holding</button>

  </div>
  <div id="statistics">

    <h3>Portfolio Yield: <span class="annual-yield"></span>%</h3>
    <h3>Annual Income: $<span class="yearlyDividend">0</span></h3>
    <h3>Real time: $<span class="realTime"></span></h3>

  </div>
  
  

  <div  class="modal-container-add">
    <div class="modal">
      <div class="close-modal">
        <h3>Add New Holding</h3>
        <span class="close">ⓧ</span>
      </div>
      <form action="/dashboard/addStock" id="form-add" method="POST">
        <div id="error"></div>
        <label for="ticker">Ticker</label>
        <input type="text" name="ticker" id="ticker-add" placeholder="ex. AAPL" required>
        <label for="shares">Number of Shares</label>
        <input type="text" name="shares" id="shares-add" placeholder="Number of shares" required>
        <label for="basis">Average Cost</label>
        <input type="text" name="basis" id="basis-add" placeholder="Cost Basis" required>
        <button type="submit" id="addStock" class="btn btn-primary">Add</button>
      </form> 
    </div>
  </div>

  <div class="modal-container-edit">
    <div class="modal">
      <div class="close-modal">
        <h3>Edit Holding</h3>
        <span class="close">ⓧ</span>
      </div>
      <form id="form-edit" method="POST">
        <div id="error"></div>
        <label for="ticker">Ticker</label>
        <input type="text" name="ticker" id="ticker-edit" required>
        <label for="shares">Number of Shares</label>
        <input type="text" name="shares" id="shares-edit" required>
        <label for="basis">Average Cost</label>
        <input type="text" name="basis" id="basis-edit" required>
        <button type="submit" id="addStock" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>

  <table id="stockTable">
    <thead>
      <tr>
        <th class="wide-cell">
          Ticker
        </th>
        <th class="normal-cell">
          Shares
        </th>
        <th class="normal-cell">
          Basis
        </th>
        <th class="normal-cell">
          Change
        </th>
        <th class="normal-cell">
          Current Price
        </th>
        <th class="normal-cell">
          Profit/Loss
        </th>
        <th class="normal-cell">
          Dividend
        </th>
        <th class="normal-cell">
          Edit / Delete
        </th>
      </tr>
    </thead>
    <tbody>

      <% for(let i = 0; i < stocks.length; i++) { %>
        <tr class="row">
          <td id="stockName">
            <div id="symbol">
              <a href="/stock/<%= stocks[i].ticker %>" ><%= stocks[i].ticker %></a> 
            </div>
            <div id="corporation">

            </div>
          </td>
          <td>
            <%= stocks[i].shares.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> 
          </td>
          <td>
            $<%= stocks[i].basis.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> 
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            
            <div class="control-buttons">
              <!-- <form action="/dashboard/editStock/<%= stocks[i]._id %>?_method=PUT" method="POST">
                <button type="submit" class="editButton"><i class="fa-solid fa-pen-to-square"></i></button>
              </form> -->

              
              <a class="new-transaction"><i class="fa-solid fa-plus"></i></a>
              <a class="edit-stock" data-id="<%= stocks[i]._id %> "><i class="fa-solid fa-pen-to-square editButton"></i></a>

              <form action="/dashboard/deleteStock/<%= stocks[i]._id %>?_method=DELETE" method="POST">
                <button type="submit" class="deleteButton"><i class="fa-solid fa-trash"></i></button>
              </form>

              
              
            </div>
          </td>
          <!-- Add value to total here --> 
        </tr>
      <% } %>
        
    </tbody>
  </table>
  
  <a href="/logout" class="">Logout</a>
    <script src="js/main.js"></script>

  </div>
  
  </body>
</html>