<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stocks.css"> 
  <link rel="stylesheet" href="/css/styles.css">
  <title>Stock</title>
</head>
  <body class="body">

    <% if(user) { %>
      <%-include ('./partials/header-logged', locals) %>
      <% } else { %>
        <%- include ('./partials/header') %>
        <% } %>  

    <div class="flex flex-col gap-6 container mt-20 mb-20 md:mb-28 md:mt-28">

      <div class="flex flex-col items-center gap-6 block-card">
        
        <div>
          <% if(profile.image)  { %> 
            <img src="<%= profile.image %> " class="ticker-image max-h-28" />
          <% } %> 

        </div>
        <div class="basis-1/4 text-center">
  
          <h1 class="text-xl xl:text-3x"><%= profile.companyName %></h1>
          <h4 class="text-lg font-bold xl:text-2xl">(<%= ticker %>)</h4>
          <h4>$<%= (profile.price).toLocaleString('en-US') %> </h4>
          <span>$<%= (profile.changes).toLocaleString('en-US') %> </span>
  
        </div>
  
        <div class="flex flex-col md:flex-row border md:border-0 md:border-t-2 border-gray-200 justify-center py-4 rounded-md" id="div-info">
          <div class="px-4 py-2 border-b border-gray-200 md:border-0">
            <h4 class="info-header">Dividend Yield</h4>
            <span class="info-data"><%= metrics.dividendYieldTTM ? divYield  : '0.00' %>% </span>
          </div>

          <div class="px-4 py-2 border-b border-gray-200 md:border-0">
            <h4 class="info-header">Last Dividend Payout (per share)</h4>
            <span class="info-data">$<%= divPayout %> <%= divDate ? 'on ' + divDate : '' %> </span>
          </div>
          
          
          <div class="px-4 py-2">
            <h4 class="info-header">Dividend Frequency</h4>
            <p class="info-data">
            <% if(!metrics.dividendYieldTTM) { %> 
              <%= '-' %> 
              <% } else { %> 
            <%= payoutFreq %> 
            <% } %> 
             
            </p>
          </div>
  
        </div>

      </div>

      <div class="block-card text-center">
        <h2 class="border-b border-gray-300 pb-4 text-xl xl:text-3xl font-semibold">Metrics</h2>
        <ul class="lg:px-8 py-4">
          <% if(metrics.sector) { %>
              <li class="metric-item">
                <span>Sector</span>
                <span><%= metrics.sector %></span>
              </li>
            <% } %> 
          <% if(metrics.industry) { %>
            <li class="metric-item">
              <span>Industry</span>
              <span><%= metrics.industry %> </span>           
            </li>
          <% } %> 
          <% if(metrics.beta) { %>
            <li class="metric-item">
              <span>Beta</span>
              <span><%= metrics.beta %> </span>
            </li>
          <% } %> 
          <% if(metrics.marketCap) { %>
            <li class="metric-item">
              <span>Market Cap</span>
              <span>$<%= (metrics.marketCap).toLocaleString('en-US') %></span>
            </li>
          <% } %> 
          <% if(metrics.peRatioTTM) { %>
            <li class="metric-item">
              <span>TTM PE Ratio</span>
              <span><%= (metrics.peRatioTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %></span>
            </li>
          <% } %> 
          <% if(metrics.dividendYieldTTM) { %>
            <li class="metric-item">
              <span>TTM Dividend Yield</span>
              <span><%= (metrics.dividendYieldTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %>%</span>
            </li>
          <% } %> 
          <% if(metrics.payoutRatioTTM) { %>
            <li class="metric-item">
              <span>TTM Payout Ratio</span>
              <span><%= (metrics.payoutRatioTTM * 100).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %>%</span>
            </li>
          <% } %> 
          <% if(metrics.divPerShareTTM) { %>
            <li class="metric-item">
              <span>TTM Dividends Per Share</span>
              <span>$<%= (metrics.divPerShareTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %></span>
            </li>
          <% } %> 
          <% if(metrics.website) { %>
            <li class="metric-item">
              <span>Website </span>
              <a href="<%= metrics.website %>" target="_blank" class="underline transition-colors hover:text-gray-500"><%= metrics.website %></a> 
            </li>
          <% } %> 
          
        </ul>
      </div>
  
      <div class="description">
        <% if(profile.description) { %> 
          <%= profile.description %> 
        <% } %> 
      </div>
      <div class="block-card">
        <h3 class="text-center text-xl xl:text-3xl font-semibold mb-4">Discussion</h3>
        <ul>
          <% for(let i = 0; i < comments.length; i++) { %>
            <li class="comment flex flex-col lg:flex-row lg:items-start border-t gap-2 lg:gap-0 border-gray-200 pb-6 pt-6">
          
              <div id="profile" class="text-sm sm:text-base flex justify-between items-center lg:basis-64">
                <div id="profile-info" class="flex items-center gap-3">
                  <div style="background-image: url('<%= commentUsers[i].profileImage %>') " class="bg-gray-800 bg-center bg-cover rounded-full w-[55px] h-[55px] overflow-hidden">
                  </div>
                  <div class="flex flex-col">
                    <a href="/profile/<%= comments[i].user %>" class="basis-1/8 text-indigo-500 transition-colors hover:text-indigo-300"> 
                      <%= commentUsers[i].name %>
                    </a>
                    <span class="text-gray-500 text-xs sm:text-sm"><%= commentDates[i] %> </span>

                  </div>

                </div>
                
              </div>
              <div id="main-content" class="lg:grow">
                <div id="comment-content" class="w-full text-sm sm:text-base block-card">       
                  <div class="py-2">
                    <%= comments[i].content %> 
                  </div>
                </div>
                <div id="comment-controls" class="flex justify-between">
                  <form action="/stock/<%= ticker %>/likeComment/<%= comments[i].id%>?_method=PUT" method="POST">
                    <div id="" class="mt-2">
                      <button type="submit" class="like-button text-lg transition-colors hover:text-gray-500">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <!-- <i class="fa-solid fa-angle-up"></i> -->
                      </button>
                      <span><%= comments[i].likes %></span>
                    </div>
                    
                  </form>
                  <div id="comment-buttons" class="flex gap-8 items-center">
                    <button class="text-xs sm:text-base link">Reply</button>
                    <% if(user && user.id == commentUsers[i].id) {%>
                      <form action="/stock/<%= ticker %>/deleteComment/<%= comments[i].id%>?_method=DELETE" method="POST" class="inline">
                        <button type="submit" class="delete-comment text-xs sm:text-base link">
                          <i class="fa-solid fa-trash"></i>
                        
                      </form>
      
                      <% } %> 

                  </div>
  
                 
                </div>
              </div>
            </li>
            <% } %> 
          </ul>
      </div>
  
      <div class="text-center flex flex-col gap-6">
        <span class="text-xl xl:text-3xl font-semibold py-4 border-t border-gray-300">Join the Discussion</span>
        <div class="flex gap-4 flex-col sm:flex-row sm:items-start">
          <div id="profile-picture">
            <div style="background-image: url('<%= user.profileImage %>') "class="bg-gray-800 rounded-full w-[75px] h-[75px] overflow-hidden bg-center bg-cover">
            </div>
          </div>
          <form action="/stock/<%= ticker %>/addComment " method="POST" class="w-full">
            <textarea name="comment" id="comment" cols="30" rows="3" class="rounded-lg p-2 border-2 border-gray-200 w-full focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500"></textarea>
            <div class="flex justify-start">
              <button type="submit" class="btn-secondary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <%- include ('./partials/footer') %>
  </body>
</html>