<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stocks.css"> 
  <link rel="stylesheet" href="/css/styles.css">
  <title>Stock</title>
</head>
  <body class="body">

    <% if(user) { %>
      <%-include ('./partials/header-logged', locals) %>
      <% } else { %>
        <%- include ('./partials/header') %>
        <% } %>  

    <div class="flex flex-col gap-6 container mt-12">

      <div class="flex items-center gap-6 block-card">
        
        <div>
          <% if(profile.image)  { %> 
            <img src="<%= profile.image %> " class="ticker-image max-h-28" />
          <% } %> 

        </div>
        <div class="basis-1/4 text-center">
  
          <h1 class="text-3xl"><%= profile.companyName %></h1>
          <h4 class="text-2xl font-bold">(<%= ticker %>)</h4>
          <h4>$<%= (profile.price).toLocaleString('en-US') %> </h4>
          <span>$<%= (profile.changes).toLocaleString('en-US') %> </span>
  
        </div>
  
        <div class="flex justify-center" id="div-info">
          <div class="px-4">
            <h4 class="info-header">Dividend Yield</h4>
            <span class="info-data"><%= metrics.dividendYieldTTM ? divYield  : '0.00' %>% </span>
          </div>

          <div class="px-4">
            <h4 class="info-header">Last Dividend Payout (per share)</h4>
            <span class="info-data">$<%= divPayout %> <%= divDate ? 'on ' + divDate : '' %> </span>
          </div>
          
          
          <div class="px-4">
            <h4 class="info-header">Dividend Frequency</h4>
            <p class="info-data">
            <% if(!metrics.dividendYieldTTM) { %> 
              <%= '-' %> 
              <% } else { %> 
            <%= payoutFreq %> 
            <% } %> 
             
            </p>
          </div>
  
        </div>

      </div>

      <div class="block-card text-center">
        <h2 class="border-b border-gray-300 pb-4 text-3xl font-semibold">Metrics</h2>
        <ul class="px-8 py-4">
          <% if(metrics.sector) { %>
              <li class="metric-item">
                <span>Sector</span>
                <span><%= metrics.sector %></span>
              </li>
            <% } %> 
          <% if(metrics.industry) { %>
            <li class="metric-item">
              <span>Industry</span>
              <span><%= metrics.industry %> </span>           
            </li>
          <% } %> 
          <% if(metrics.beta) { %>
            <li class="metric-item">
              <span>Beta</span>
              <span><%= metrics.beta %> </span>
            </li>
          <% } %> 
          <% if(metrics.marketCap) { %>
            <li class="metric-item">
              <span>Market Cap</span>
              <span>$<%= (metrics.marketCap).toLocaleString('en-US') %></span>
            </li>
          <% } %> 
          <% if(metrics.peRatioTTM) { %>
            <li class="metric-item">
              <span>TTM PE Ratio</span>
              <span><%= (metrics.peRatioTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %></span>
            </li>
          <% } %> 
          <% if(metrics.dividendYieldTTM) { %>
            <li class="metric-item">
              <span>TTM Dividend Yield</span>
              <span><%= (metrics.dividendYieldTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %>%</span>
            </li>
          <% } %> 
          <% if(metrics.payoutRatioTTM) { %>
            <li class="metric-item">
              <span>TTM Payout Ratio</span>
              <span><%= (metrics.payoutRatioTTM * 100).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %>%</span>
            </li>
          <% } %> 
          <% if(metrics.divPerShareTTM) { %>
            <li class="metric-item">
              <span>TTM Dividends Per Share</span>
              <span>$<%= (metrics.divPerShareTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %></span>
            </li>
          <% } %> 
          <% if(metrics.website) { %>
            <li class="metric-item">
              <span>Website </span>
              <a href="<%= metrics.website %>" target="_blank" class="underline transition-colors hover:text-gray-500"><%= metrics.website %></a> 
            </li>
          <% } %> 
          
        </ul>
      </div>
  
      <div class="description">
        <% if(profile.description) { %> 
          <%= profile.description %> 
        <% } %> 
      </div>
      <div class="block-card">
        <h3 class="text-center text-3xl font-semibold mb-4">Discussion</h3>
        <ul>
          <% for(let i = 0; i < comments.length; i++) { %>
            <li class="comment flex gap-3 mb-8">
              <div id="profile-picture">
                <div class="bg-gray-800 rounded-full w-[50px] h-[50px]"></div>
              </div>
              <div id="comment-content" class="w-full">
                <a href="/profile/<%= comments[i].user %>" class="text-indigo-500 transition-colors hover:text-indigo-300"> 
                  <%= commentUsers[i].name %>
                </a>
                <span><%= commentDates[i] %> </span>
                <% if(user && user.id == commentUsers[i].id) {%>
                  <form action="/stock/<%= ticker %>/deleteComment/<%= comments[i].id%>?_method=DELETE" method="POST" class="inline">
                    <button type="submit" class="delete-comment text-sm text-indigo-500 transition-colors hover:text-indigo-300">
                      <!-- <i class="fa-solid fa-trash"></i> -->
                      Delete
                    </button>
                  </form>
  
                  <% } %> 
                <div class="py-2">
                  <%= comments[i].content %> 
                </div>
                <form action="/stock/<%= ticker %>/likeComment/<%= comments[i].id%>?_method=PUT" method="POST">
                  <div id="likes-container">
                    <button type="submit" class="like-button text-lg transition-colors hover:text-gray-500">
                      <i class="fa-regular fa-thumbs-up"></i>
                      <!-- <i class="fa-solid fa-angle-up"></i> -->
                    </button>
                    <span><%= comments[i].likes %></span>
                  </div>
                  <button>Reply</button>
                </form>
                

              </div>
            </li>
            <% } %> 
          </ul>
      </div>
  
      <div class="text-center flex flex-col gap-6">
        <span class="text-3xl font-semibold py-4 border-t border-gray-300">Join the Discussion</span>
        <div class="flex gap-4">
          <div id="profile-picture">
            <div class="bg-gray-800 rounded-full w-[75px] h-[75px]"></div>
          </div>
          <form action="/stock/<%= ticker %>/addComment " method="POST" class="w-full">
            <textarea name="comment" id="comment" cols="30" rows="3" class="block-card w-full focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500"></textarea>
            <div class="flex justify-start">
              <button type="submit" class="btn-secondary">Submit</button>
            </div>
          </form>

        </div>
      </div>

      

    </div>
  </body>
</html>