<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stocks.css"> 
  <title>Stock</title>
</head>
  <body>
    <% if(profile.image)  { %> 
      <img src="<%= profile.image %> " class="test-image" />
    <% } %> 
    <h2><%= profile.companyName %> (<%= ticker %> )</h2>
    <h4>$<%= (profile.price).toLocaleString('en-US') %> </h4>
    <span>$<%= (profile.changes).toLocaleString('en-US') %> </span>
    <h4>Dividend Yield: <span><%= divYield %>% </span></h4>
    <h4>Last Dividend Payout: $<%= divPayout %> </h4>
    <p>
      <% if(payoutFreq) { %> 
        <%= payoutFreq %> Dividend
      <% } %> 
    </p>

    <p>
      <% if(profile.description) { %> 
        <h4>Description</h4>
        <%= profile.description %> 
      <% } %> 
    </p>
  </body>
</html>