<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stocks.css"> 
  <title>Stock</title>
</head>
  <body>
    <div class="stock-container flex dir-col gap-m">

      <div class="info flex align-ct gap-m">
        
        <div class="main-image">
          <% if(profile.image)  { %> 
            <img src="<%= profile.image %> " class="ticker-image" />
          <% } %> 

        </div>
        <div class="main-info">
  
          <h2><%= profile.companyName %></h2>
          <h4>(<%= ticker %>)</h4>
          <h4>$<%= (profile.price).toLocaleString('en-US') %> </h4>
          <span>$<%= (profile.changes).toLocaleString('en-US') %> </span>
  
        </div>
  
        <div class="dividend-info">
  
          <h4 class="info-header">Dividend Yield: <span class="info-data"><%= metrics.dividendYieldTTM ? divYield  : '0.00' %>% </span></h4>
          <h4 class="info-header">Last Dividend Payout (per share): <span class="info-data">$<%= divPayout %> <%= divDate ? 'on ' + divDate : '' %> </span></h4>
          <div>
            <h4 class="info-header">Dividend Frequency</h4>
            <p class="info-data">
            <% if(!metrics.dividendYieldTTM) { %> 
              <%= '-' %> 
              <% } else { %> 
            <%= payoutFreq %> 
            <% } %> 
             
          </p>
            </div>
  
        </div>

      </div>

      <div class="key-metrics">
        <h2>Metrics</h2>
        <ul class="metrics-list">
          <% if(metrics.sector) { %>
              <li class="metric-item">
                <span>Sector</span>
                <span><%= metrics.sector %></span>
              </li>
            <% } %> 
          <% if(metrics.industry) { %>
            <li class="metric-item">
              <span>Industry</span>
              <span><%= metrics.industry %> </span>           
            </li>
          <% } %> 
          <% if(metrics.beta) { %>
            <li class="metric-item">
              <span>Beta</span>
              <span><%= metrics.beta %> </span>
            </li>
          <% } %> 
          <% if(metrics.marketCap) { %>
            <li class="metric-item">
              <span>Market Cap</span>
              <span>$<%= (metrics.marketCap).toLocaleString('en-US') %></span>
            </li>
          <% } %> 
          <% if(metrics.peRatioTTM) { %>
            <li class="metric-item">
              <span>TTM PE Ratio</span>
              <span><%= (metrics.peRatioTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %></span>
            </li>
          <% } %> 
          <% if(metrics.dividendYieldTTM) { %>
            <li class="metric-item">
              <span>TTM Dividend Yield</span>
              <span><%= (metrics.dividendYieldTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %>%</span>
            </li>
          <% } %> 
          <% if(metrics.payoutRatioTTM) { %>
            <li class="metric-item">
              <span>TTM Payout Ratio</span>
              <span><%= (metrics.payoutRatioTTM * 100).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %>%</span>
            </li>
          <% } %> 
          <% if(metrics.divPerShareTTM) { %>
            <li class="metric-item">
              <span>TTM Dividends Per Share</span>
              <span>$<%= (metrics.divPerShareTTM).toLocaleString('en-US', {
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              }) %></span>
            </li>
          <% } %> 
          <% if(metrics.website) { %>
            <li class="metric-item">
              <span>Website </span>
              <a href="<%= metrics.website %>" target="_blank"><%= metrics.website %></a> 
            </li>
          <% } %> 
          
        </ul>
      </div>
  
      <div class="description">
        <% if(profile.description) { %> 
          <%= profile.description %> 
        <% } %> 
      </div>
      <div><a href="/dashboard">Back to Dashboard</a></div>
      <div class="comments">
        <h2>Discussion</h2>
        <ul>
          <% for(let i = 0; i < comments.length; i++) { %>
            <li class="comment">
              <a href="/profile/<%= comments[i].user %> "> <%= commentUsers[i].name %></a>
              : <%= comments[i].content %> <span>Likes: <%= comments[i].likes %> </span>
              <span><%= comments[i].date.toUTCString() %> </span>
            </li>
            <% } %> 
          </ul>
      </div>
  
      <div>
        <span>What do you think of <%= ticker %>? Leave a comment:</span>
        <form action="/stock/<%= ticker %>/addComment " method="POST">
          <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
          <button type="submit" class="btn-primary">Submit</button>
        </form>
      </div>

      

    </div>
  </body>
</html>